*.cm[aoix]
*.cmxa
*.exe
*.bc
*.annot
*.o
*.so
*.so.d
*.s
*.a
*.depend
*?_*
*.sp.t
config.status
mycaml
.DS_Store$
tmtags$
.transdeps/
chroot_test_tmp/
lib/packs/
lib/*/deps
lib/*/*.mli
test-results*

personal_compilation_ignores
*.cp4c
*~
*.auto.mli
*.aux
*.digest
*.haux
*.htoc
*.fls
*.log
*.omc
*.toc
*.orig
*.spot
.*.sw[pabcdef]
.mydeps
inline_tests.ml
inline_tests_runner.ml
TAGS
order_file_*_common.ml
*_db_pnl_common.ml
order_file_*_eval.ml


# for new omake rules
*.deps
*.ml.d
*.mli.d
*.libdeps
*.objdeps


# specific files
.last_build_env
.omakedb
.omakedb.lock
spec.hg
libdeps.sexp
libdeps.dot
libdeps.ps
libdeps.corrected
ocaml_path
.ocaml-3.10
\#*
.\#*

base/bin-prot/INSTALL
base/bin-prot/Makefile
base/bin-prot/_build
base/bin-prot/configure
base/bin-prot/doc/README.pdf
base/bin-prot/doc/README.txt
base/bin-prot/lib/META
base/bin-prot/lib/bin_prot.mlpack
base/bin-prot/lib/libbin_prot.clib
base/bin-prot/lib_test/example.pp.ml
base/bin-prot/lib_test/mac_test
base/bin-prot/lib_test/test_runner
base/bin-prot/setup.data
base/bin-prot/setup.log
base/bin-prot/setup.ml
base/bin-prot/syntax/pa_bin_prot.mllib
base/compare/sample_output/generated_test.ml
base/compare/sample_output/generated_test.mli
base/core/INSTALL
base/core/Makefile
base/core/myocamlbuild.ml
base/core/_build
base/core/configure
base/core/extended/lib/sexp_pos_parser.ml
base/core/extended/lib/sexp_pos_parser.mli
base/core/lib/META
base/core/lib/config.h
base/core/lib/config.mlh
base/core/lib/core.mlpack
base/core/lib/libcore.clib
base/core/setup.data
base/core/setup.log
base/core/setup.ml
base/fieldslib/INSTALL
base/fieldslib/Makefile
base/fieldslib/_build
base/fieldslib/configure
base/fieldslib/lib/META
base/fieldslib/lib/fieldslib.mlpack
base/fieldslib/myocamlbuild.ml
base/fieldslib/sample/generated_test.ml
base/fieldslib/sample/generated_test.mli
base/fieldslib/setup.data
base/fieldslib/setup.log
base/fieldslib/setup.ml
base/fieldslib/syntax/pa_fields_conv.mllib
base/sexplib/INSTALL
base/sexplib/Makefile
base/sexplib/_build
base/sexplib/configure
base/sexplib/lib/META
base/sexplib/lib/lexer.ml
base/sexplib/lib/parser.ml
base/sexplib/lib/parser.mli
base/sexplib/lib/sexplib.mlpack
base/sexplib/lib_test/conv_test
base/sexplib/lib_test/sexp_test
base/sexplib/myocamlbuild.ml
base/sexplib/setup.data
base/sexplib/setup.log
base/sexplib/setup.ml
base/sexplib/syntax/pa_sexp_conv.mllib
base/sexplib/top/sexplib_top.mllib
base/type-conv/INSTALL
base/type-conv/Makefile
base/type-conv/_build
base/type-conv/configure
base/type-conv/lib/META
base/type-conv/lib/pa_type_conv.mllib
base/type-conv/lib/type-conv.mllib
base/type-conv/myocamlbuild.ml
base/type-conv/setup.data
base/type-conv/setup.log
base/type-conv/setup.ml
base/variantslib/sample/generated_test.ml
base/variantslib/sample/generated_test.mli
